.item {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.item:not(:nth-child(6n)) {
  margin-right: 24px;
}

.item:nth-child(6n) {
  margin-right: 10px;
}

.item-img {
  width: 80px;
  height: 80px;
  padding: 20px;
  object-fit: contain;
  border: 4px solid #d3adee;
  border-radius: 50%;
}

.item-heading {
  margin-top: 6px;
  text-overflow: ellipsis;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.item:hover > .delete-category {
  display: block;
}
.delete-category {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  display: none;
}